.controls {
  display: flex;
  justify-content: space-between;
  padding: 8px;

  .filters {
    display: flex;
    justify-content: center;
  }

  .filterButton {
    background-color: transparent;
    border: none;
    // color: gray;
    font-size: inherit;
    color: #9c9ca5;

    &:hover {
      color: #4F515D;
      cursor: pointer;
    }

    .checked {
        color: #5179bf
    }
  }
}
