.inputWithIcon {
  position: relative;

  .icon {
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    color: #aaa;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
  }

  input[type="text"] {
    font-size: 1.5em;
    width: 100%;
    padding: 16px 8px 16px 60px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-sizing: border-box;
    transition: 0.3s;

    &:focus {
      //   border-color: dodgerBlue;
      //   box-shadow: 0 0 8px 0 dodgerBlue;
    }
  }
}
